In [1]:
#sqlite bestand
import sqlite3
import pandas as pd

# SQLite bestand verbinden
sqlite_conn = sqlite3.connect('aenc.sqlite')

# Haal de lijst met tabellen op
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", sqlite_conn)

# Print de tabellen om te zien welke je wilt kopiÃ«ren
tables

               name
0        Department
1           Product
2             State
3             Bonus
4          Customer
5          Employee
6       Sales_Order
7  Sales_Order_Item